<h6>Type of Bike Incident (select one:)</h6>

<div class="event-kind">
  <%= f.select(:event_kind) do %>
    <% [['Accident'],
        ['Road Hazard'],
        ['Freak, wildlife incident'],
        ['Other']]
    .each do |c| -%>
      <%= content_tag(:option, c.first, value: c.first) %>
    <% end %>
  <% end %>
</div>



