
  <div id="map-canvas"></div>
<input type="text" id="autocomplete" class="controls" placeholder="  bike incident location">


<template id="form-incident">
  <%= render "bike_events/form" %>
</template>