<div id="map-canvas"></div>
<!-- <input type="text" id="autocomplete" class="controls" placeholder="  bike incident location"> -->

<div id="form-incident">
  <%= render partial: "bike_events/form" %>
</div>

<div id="legend">
  TEST!!!!!
</div>
