<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Know the Dangers of the Road</h1>
          <hr class="intro-divider">
          <h3>before you head out for a ride</h3>
        </div>
      </div>
    </div>
  </div>
</div>