<div class="container">
  <div class="col-md-6">
    <h3> Error 404 </h3>
    <p> Something went wrong. </p>
  </div>

      <div class="col-xs-5">
      <span class="border-shadow">
         <%= image_tag("bicycle-accident_sm.jpg")%>
      </span> 
    </div>
</div>