#map-canvas {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 52px;
}

#autocomplete {
  width: 30%;
  height: 25px;
  margin-left: 100px;
  position: absolute;
}

.marker {
  z-index: 1;
}

#form-incident {
  display: none;
}

.field_with_errors {
  display: inline;
}

#new_bike_event label {
  vertical-align: top;
}

.form-smaller {
  font-size: .8em;
  border-radius: 10px;

  label {
    font-weight: normal;
  }
}

#legend {
  background: white;
  padding: 10px;
  z-index: 1;
  margin-left: 10px;
  text-transform: capitalize;
  border: 1px solid black;
}

.event-kind {
  margin-bottom: 7px;
}

.form-align {
  label {
    font-weight: normal;
  }
}