#map-canvas {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 52px;
}

#autocomplete {
  width: 30%;
  height: 25px;
  margin-left: 100px;
  position: absolute;
}

.marker {
  z-index: 1;
}

#form-incident {
  display: none;
}

.field_with_errors {
  display: inline;
}

#new_bike_event label {
  vertical-align: top;
}

 // border-radius: 16px 16px;
 // border-color: #fff;
 // border-style: solid;
 // box-shadow: 2px 2px 10px #B1B1B1;
 // border-width: 7px;