.login {
  text-align: center;
  color: #f8f8f8;
  background:image-url('empty_road_with_bike.jpg');
  background-size: cover;
  background-position: 0 -100px;

  img {
    opacity: 0.6;
  }
}

.black-text {
  color: black;
  font-size: 1.1 em;
}